* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

:root {
  --bgOne: #101017;
  --green: #079211;
  --gray: #808080;
  --light-dark: #313131;
  --dark: #050507;
  --deep-gray: #0a0a0f;
  --light-gray: #313131;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

/* navbar start */
#nav {
  padding: 18px 0;
  background-color: var(--bgOne);
}

#nav .menu {
  gap: 58px;
}

#nav .menu ul {
  gap: 38px;
}

#nav .menu ul li a {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

#nav .menu .btn {
  padding: 10px 16px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--green);
}
/* navbar end */

/* banner start */
#banner {
  background-color: var(--bgOne);
  padding: 100px 0;
}
#banner h2 {
  font-weight: 700;
  font-size: 38px;
  color: var(--green);
}
#banner h1 {
  font-weight: 700;
  font-size: 88px;
  color: #ffffff;
}

#banner p {
  font-size: 16px;
  font-weight: 300;
  color: var(--gray);
  width: 550px;
  margin-top: 38px;
}

#banner .btns {
  gap: 38px;
  margin-top: 58px;
}

#banner .btns .btn1 {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding: 18px 28px;
  background-color: var(--green);
  border: none;
}
#banner .btns .btn2 {
  font-weight: 700;
  font-size: 18px;
  color: var(--gray);
  border: none;
  background-color: transparent;
}

#banner .btns .btn2 .btn-icon {
  margin-right: 10px;
}
/* banner end */

/* services start */
#services {
  background-color: var(--bgOne);
  padding-bottom: 100px;
}

#services .top-part .left {
  width: 70%;
}
#services .top-part .right {
  width: 30%;
}

#services .top-part .left h2 {
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
  width: 457px;
}

#services .top-part .right h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
  margin-left: 66px;
}

#services .top-part .right p {
  font-size: 16px;
  font-weight: 300;
  color: var(--gray);
  margin-top: 8px;
}

#services .top-part .right .wrapper {
  position: relative;
}

#services .top-part .right .shape {
  position: absolute;
  top: 12px;
  width: 50px;
  height: 2px;
  background-color: var(--green);
}

#services .bottom-part {
  margin-top: 90px;
}

#services .bottom-part .card {
  width: 32.3%;
  padding: 68px 25px;
  background-color: var(--light-gray);
  border-bottom: 6px solid var(--green);
}

#services .bottom-part .card .ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--green);
  margin-left: 45px;
  position: relative;
}

#services .bottom-part .card .ball .card-icon {
  position: absolute;
  top: -26px;
  left: -32px;
  color: #ffffff;
  font-size: 42px;
}

#services .bottom-part .card h2 {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 46px;
}

#services .bottom-part .card p {
  font-size: 16px;
  font-weight: 300;
  color: var(--gray);
  margin-top: 18px;
}
/* services end */

/* works section start */
#works {
  background-color: var(--light-gray);
  padding: 110px 0;
}
#works .top-part .left h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
  margin-left: 66px;
}
#works .top-part .left h2 {
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
  width: 455px;
  margin-top: 16px;
}
#works .top-part .left .wrapper {
  position: relative;
}

#works .top-part .left .shape {
  position: absolute;
  top: 12px;
  width: 50px;
  height: 2px;
  background-color: var(--green);
}

#works .top-part .work-btn {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  padding: 10px 16px;
  border: 1px solid var(--green);
}

#works .bottom-part {
  margin-top: 90px;
}

#works .bottom-part .box {
  gap: 20px;
}

#works .bottom-part .work-card {
  width: 48%;
  margin-bottom: 48px;
}

#works .bottom-part .work-card img {
  width: 100%;
}

#works .bottom-part .work-card h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 38px;
  color: #ffffff;
}

#works .bottom-part .work-card a {
  font-size: 20px;
  font-weight: 500;
  color: var(--green);
  text-decoration: none;
  margin-top: 16px;
  display: inline-block;
}
/* works section end */

/* Testimonials start */
#testimonials {
  background-color: var(--bgOne);
  padding-top: 91px;
  padding-bottom: 146px;
}
#testimonials .center {
  text-align: center;
}
#testimonials .wrapper {
  position: relative;
  display: inline-block;
}

#testimonials .shape {
  position: absolute;
  top: 12px;
  width: 50px;
  height: 2px;
  background-color: var(--green);
}

#testimonials h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
  margin-left: 66px;
}

#testimonials h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 16px;
}

#testimonials .slides {
  margin-top: 90px;
  position: relative;
}

#testimonials .slides i {
  position: absolute;
  top: 50%;
  color: var(--green);
  font-size: 24px;
  transform: translateY(-50%);
}

#testimonials .slides .left {
  left: 0;
}
#testimonials .slides .right {
  right: 0;
}

#testimonials .slides p {
  width: 555px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  color: var(--gray);
}

#testimonials .profile {
  margin-top: 37px;
}

#testimonials .profile h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
#testimonials .profile h5 {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
}
#testimonials .profile .pro1 {
  gap: 20px;
}
/* Testimonials end */

/* contact start */
#contact {
  background-color: var(--deep-gray);
  padding: 63px 0;
  border-left: 10px solid var(--green);
}

#contact .text-area h2 {
  font-weight: 700;
  font-size: 38px;
  color: #ffffff;
}
#contact .text-area h3 {
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  color: var(--gray);
}

#contact button {
  padding: 18px 28px;
  background-color: var(--green);
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  border: none;
}
/* contact end */

/* footer start */
footer {
  background-color: var(--dark);
  padding-top: 48px;
  padding-bottom: 30px;
}

footer .left,
footer .right {
  width: 50%;
}

footer .right .op h2 {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 26px;
}
footer .right .op ul {
  list-style-type: none;
}

footer .right .op ul li {
  margin-bottom: 20px;
}
footer .right .op ul li,
footer .right .op ul li a {
  font-weight: 300;
  font-size: 16px;
  color: var(--gray);
  text-decoration: none;
}
footer .right .gap {
  gap: 114px;
}

footer .bottom h4 {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}

footer .bottom {
  margin-top: 68px;
  padding-top: 26px;
  border-top: 1px solid var(--light-dark);
}
/* footer end */
